  .left_right {
    display: flex;
  }
  
  .form {
    overflow-y: auto;
    width: 50%;    
  }
  
  
  input[type=text] {
    width: 100%;
  }
  dot {
    color: green;
  }

  select {
    width: 100%;
  }


  textarea {
    width: 100%;
    height:50px;
  }

  
  

  #submit {
    background-color: #026400;
    color:white;
    cursor: pointer;
    border-radius: 20px;
  }
  

 
.out_put {
  overflow-y: auto;
  width: 50%;
  height: 60vh;
  margin-left: 80px;
}


.date {
  color: darkgreen;
  font-size: 11px;
}



